/* WPForms
--------------------------------------------- */

.home {
	div.wp-block-group.wpforms {
		margin-top: $size-12;
	}
}

div.wp-block-group.wpforms {
	background: brand-color( 'blue', 'lighten' );
	color: $white;
	padding: $size-11 0;

	.wp-block-group__inner-container {
		@include wrap;
	}

	.wpforms-title {
		color: $white;
	}

	.wpforms-description {
		color: rgba( $white, .75 );
		margin-bottom: $size-7;
		margin-left: auto;
		margin-right: auto;
	}

	div.wpforms-container {
		margin-bottom: 0;

		.wpforms-field {
			padding: 0;
			margin-bottom: 32px;
		}

		.wpforms-field-label {
			color: $white;
		}

		.wpforms-field-container {
			display: flex;
			flex-wrap: wrap;
		}

		.wpforms-field {
			width: 100%;
		}

		.wpforms-field-medium {
			max-width: none;
		}

		.wpforms-submit-container {
			text-align: center;

			.wpforms-submit {
				@include button-reset;
				@include button-primary;
			}
		}

		textarea.wpforms-field-medium {
			height: $size-14;
		}

		@include media(">=tablet") {
			.wpforms-field-name {
				padding-right: $size-2;
				width: 50%;
			}

			.wpforms-field-email {
				padding-left: $size-2;
				width: 50%;
			}
		}
	}
}

/* Shared Counts
--------------------------------------------- */

.shared-counts-wrap {

	&.style-icon {

		svg {
			fill: $gray-3;
			@include icon-position( 24px );
		}

		.shared-counts-button {
			line-height: 0;
			padding: 10px;

			&:hover svg {
				fill: $highlight;
			}

			&:not(.included_total) {
				.shared-counts-label,
				.shared-counts-count {
					display: none;
				}
			}
		}
	}

	&.style-button {

		@supports( display: $grid ) {
			display: grid;
			grid-template-columns: repeat( 2, 1fr );
			grid-column-gap: 16px;

			@include media(">=tablet") {
				grid-template-columns: repeat( 4, 1fr );
			}
		}

		h3 {
			text-transform: uppercase;
			font-weight: 600;
			text-align: center;
			grid-column: 1 / -1;
		}

		.shared-counts-button {
			background: $gray-3;
			border-radius: 3px;
			color: $white;
			display: block;
			font-size: 16px;
			font-weight: 600;
			padding: 18px;
			text-align: center;
			text-decoration: none;
			margin-bottom: 15px;

			&:hover {
				background: $gray-4;
			}

			svg {
				fill: $white;
				@include icon-position( 24px );
				vertical-align: middle;
				margin-right: 10px;
			}

			&.facebook {
				background: $facebook;

				&:hover {
					background: darken( $facebook, 10% );
				}
			}

			&.pinterest {
				background: $pinterest;

				&:hover {
					background: darken( $pinterest, 10% );
				}
			}

			&.twitter {
				background: $twitter;

				&:hover {
					background: darken( $twitter, 10% );
				}
			}
		}

		.shared-counts-count {
			display: none;
		}
	}
}

/* Atomic Blocks
--------------------------------------------- */

.wp-block-group.block-features {
	margin-top: $size-12;

	.ab-block-layout-column-inner {

		.svg-inline--fa {
			color: darken( brand-color( "light-blue" ), 10% );
			height: $size-10;
			margin-top: $base-margin * 2.5;
			width: $size-10;
		}

		& h3 {
			margin-top: $base-margin / 2;
		}

		& p {
			margin-top: $base-margin * 1.75;
		}
	}

	.ab-layout-columns-2 {

		& >.ab-layout-column-wrap {
			grid-template-columns: 1fr;
			grid-template-areas: "col1" "col2";

			@include media(">=desktop") {
				grid-template-columns: 1fr 1fr;
				grid-template-areas: "col1 col2";
			}
		}
	}
}
