/* Media & Text Block
--------------------------------------------- */

.wp-block-media-text {

  &.is-stacked-on-mobile {

    .wp-block-media-text__content {
      margin-bottom: $base-margin * 1.5;
      padding: 0;
    }

    &.reverse {
      .wp-block-media-text__content {
        @include media(">=tablet") {
          margin-bottom: 0;
          padding-left: 8%;
        }
      }

      @include media("<=tablet") {
        & .wp-block-media-text__media {
          grid-row: 2;
        }

        & .wp-block-media-text__content {
          grid-row: 1;
        }
      }
    }

    &:not(.reverse) {
      .wp-block-media-text__content {
        @include media(">=tablet") {
          margin-bottom: 0;
          padding-right: 8%;
        }
      }
    }
  }
}

/* Block Quote
--------------------------------------------- */

.wp-block-quote.has-text-align-center.is-style-large {
  margin-bottom: 0;
  margin-top: $size-10;
  padding-bottom: $size-10;
  padding-top: $size-10;

  cite {
    color: rgba( $base-color, .5 );
    font-size: $text-xs;
  }

  p {
    font-size: $text-xl;
    line-height: $line-height-body;
    margin: 0 auto $base-margin / 2;
  }

  background-color: $grey-2;
}
