/* Typographical Elements
--------------------------------------------- */
html {
	@include font-sizes( $font-base, $text-lg );
}

body {
	@include base-style;
}

a {
	color: $highlight;
	text-decoration: underline;
	@extend %transition;

	&:hover {
		text-decoration: none;
	}

	svg {
		@extend %transition;
	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

code,
pre {
	font-family: $font-mono;
	font-size: 12px;
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}

// .clearfix {
// 	@include clearfix;
// }

/* Paragraph
--------------------------------------------- */

p {
	margin: 0;
	padding: 0;

	// Set margin-top for all p elements that come
	// directly after another p element
	& + p {
		margin-top: $base-margin * 1.125;
	}
}

// Set margin-top for all p elements that come
// directly after a heading element
h1,
h2,
h3,
h4,
h5,
h6 {
	& + p {
		margin-top: $base-margin / 2;
	}
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	@include heading;

	// Set margin-top for all heading elements that come
	// directly after a p element
	p + & {
		margin-top: $base-margin * 1.5;
	}

	a {
		color: $grey-10;

		&:hover {
			color: $highlight;
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
	}
}

h1,
.h1 {
	@include h4;

	@include media(">=tablet") {
		@include h2;
	}

	@include media(">=desktop") {
		@include h1;
	}
}

h3,
.h3 {
	@include h4;
}

h4,
h5,
h6 {
	@include h6;
}
