/* WPForms
--------------------------------------------- */

.wpforms {
	background: brand-color( 'blue', 'lighten' );
	color: $white;

	& .wp-block-group__inner-container {
		max-width: map-get( $breakpoints, 'desktop' );
		margin: 0 auto;
		padding: $size-9 $base-margin;

		@include media(">=tablet") {
			padding: $size-11 $base-margin;
		}
	}
}

.wpforms-title {
	color: $white;
}

.wpforms-description {
	color: rgba( $white, .75 );
	margin: 0 auto $size-7;
	max-width: $content-width;
}

div.wpforms-container {

	margin: 0;

	.wpforms-field {
		padding: 0;
		margin-bottom: 32px;
	}

	.wpforms-field-label {
    color: $white;
  }

	// .wpforms-recaptcha-container {
	// 	padding: 0;

	// 	@include media(">=tablet") {
	// 		margin-bottom: -78px;
	// 	}
	// }

	.wpforms-field-container {
		display: flex;
		flex-wrap: wrap;
	}

	.wpforms-field {
		width: 100%;
	}

	.wpforms-field-medium {
		max-width: none;
	}

	.wpforms-submit-container {
		text-align: left;
		margin: 0;
	}

	.wpforms-submit {
		padding: $size-3 $size-6;
	}

	& textarea.wpforms-field-medium {
		height: $size-14;
	}

	@include media(">=tablet") {
		.wpforms-field-name {
			padding-right: $size-2;
			width: 50%;
		}

		.wpforms-field-email {
			padding-left: $size-2;
			width: 50%;
		}
	}
}

/* Shared Counts
--------------------------------------------- */

.shared-counts-wrap {

	&.style-icon {

		svg {
			fill: $grey-5;
			@include icon-position( 24px );
		}

		.shared-counts-button {
			line-height: 0;
			padding: 10px;

			&:hover svg {
				fill: $highlight;
			}

			&:not(.included_total) {
				.shared-counts-label,
				.shared-counts-count {
					display: none;
				}
			}
		}
	}

	&.style-button {

		@supports( display: $grid ) {
			display: grid;
			grid-template-columns: repeat( 2, 1fr );
			grid-column-gap: 16px;

			@include media(">=tablet") {
				grid-template-columns: repeat( 4, 1fr );
			}
		}

		h3 {
			color: $grey-8;
			text-transform: uppercase;
			font-weight: 600;
			text-align: center;
			grid-column: 1 / -1;
		}

		.shared-counts-button {
			background: $grey-6;
			border-radius: 3px;
			color: $white;
			display: block;
			font-size: 16px;
			font-weight: 600;
			padding: 18px;
			text-align: center;
			text-decoration: none;
			margin-bottom: 15px;

			&:hover {
				background: $grey-8;
			}

			svg {
				fill: $white;
				@include icon-position( 24px );
				vertical-align: middle;
				margin-right: 10px;
			}

			&.facebook {
				background: $facebook;

				&:hover {
					background: darken( $facebook, 10% );
				}
			}

			&.pinterest {
				background: $pinterest;

				&:hover {
					background: darken( $pinterest, 10% );
				}
			}

			&.twitter {
				background: $twitter;

				&:hover {
					background: darken( $twitter, 10% );
				}
			}
		}

		.shared-counts-count {
			display: none;
		}
	}
}

/* Atomic Blocks
--------------------------------------------- */

.wp-block-group.block-features {

	.ab-layout-columns-2 {

		& >.ab-layout-column-wrap {
			grid-template-columns: 1fr;
			grid-template-areas: "col1" "col2";

			@include media(">desktop") {
				grid-template-columns: 1fr 1fr;
				grid-template-areas: "col1 col2";
			}
		}
	}
}
