/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: $white;
	border-bottom: 1px solid $border-color;
	position: relative;

	& > .wrap {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.title-area {
	display: inline-block;
	width: $logo-width;
	text-align: left;

	h1.site-title,
	p.site-title {
		margin: 0;

		a {
			color: $base-color;
			text-decoration: none;
		}
	}

	.site-title a {
		background: url(../img/logo_name.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		text-indent: -9999em;
		width: 100%;
		height: $logo-height;
	}

	// @include media("<=mobile_menu") {
	// 	// float: none;
	// 	text-align: center;

	// 	.site-title a {
	// 		padding-bottom: 0;
	// 		height: 48px;
	// 		background-size: auto 42px;
	// 	}
	// }

}


/* Admin Bar
--------------------------------------------- */

// @include media(">782px" ) {
// 	.admin-bar .site-container {
// 		padding-top: 32px;
// 	}
// }

// @include media("<=782px") {
// 	#wpadminbar {
// 		display: none !important;
// 	}
// }

/* Persistent Header
--------------------------------------------- */

@if( $persistent-desktop ) {
	@include media(">mobile_menu") {

		.site-container {
			padding-top: $persistent-desktop;
		}

		.site-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;
			height: $persistent-desktop;
		}

		@include media(">782px") {
			.admin-bar {

				.site-container {
					padding-top: 32px + $persistent-desktop;
				}

				.site-header {
					top: 32px;
				}
			}
		}
	}
}

@if( $persistent-mobile ) {
	@include media("<=mobile_menu") {

		.site-container {
			padding-top: $persistent-mobile;
		}

		.site-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;

			overflow: scroll;
			max-height: 100vh;
		}

		@include media(">782px") {
			.admin-bar {

				.site-container {
					padding-top: 32px + $persistent-mobile;
				}

				.site-header {
					top: 32px;
				}
			}
		}

	}
}
